__init__.py
*.pyc
*~
*.so

# data files for egamma
/Utils/python/EgammaPostRecoTools.py
/Production/test/data/ScalesSmearings

# condor & log files
*.stdout
*.stderr
*.condor
jobExecCondor_*.jdl
jobExecCondorNeff_*.jdl
*.tar.gz
*.log
