__init__.py
*.pyc
*~
*.so

# data files linked from DeepAK8
/Production/test/data/preprocessing.json
/Production/test/data/resnet-symbol.json
/Production/test/data/resnet.params

# condor & log files
*.stdout
*.stderr
*.condor
jobExecCondor_*.jdl
jobExecCondorNeff_*.jdl
*.tar.gz
