__init__.py
*.pyc
*~
*.so

# data files for egamma
/Utils/python/EgammaPostRecoTools.py
/Production/test/data/Run2018_Step2Closure_CoarseEtaR9Gain_scales.dat
/Production/test/data/Run2018_Step2Closure_CoarseEtaR9Gain_smearings.dat

# condor & log files
*.stdout
*.stderr
*.condor
jobExecCondor_*.jdl
jobExecCondorNeff_*.jdl
*.tar.gz
*.log
